// Font imports
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

// Sizes
$max-content-w: 1200px;

// Colors
$bg-color: #f4f4f8;
$prim-color: #775ea5;
$sec-color: #e2ddeb;
$acc-color: #c94ba3;
$txt-color: #0f0f0f;

// Typography
$heading-font: "Monsterrat", sans-serif;
$para-font: "Open Sans", sans-serif;

// Hero/header sections
$hero-heading: 68px;
$hero-heading-m: 48px;
$hero-heading-s: 36px;
$hero-subheading: 20px;
$hero-subheading-s: 18px;

// Content area
$l-heading: 48px;
$l-para: 24px;

// Cards
$card-heading: 22px;
$card-para: 15px;

$l-card-heading: 24px;
$l-card-para: 18px;

// Buttons
$xl-btn-txt: 22px;
$l-btn-txt: 18px;
$s-btn-txt: 16px;
